extends layout
block content
  #main
    #fileList
    #fileContents
    form()#fileSaver
      textarea(name="file")#fileContent
      button()#saveFile Save File

    button()#checkValidity Check
  footer

block scripts
  script(src="/src/test.js")
  script(src="/src/app.js")

  script(type="text/x-handlebars-template")#folderViewTemp
    li {{folder.name}}

