extends layout
block content
  #main
    #fileList
      ul#server
      #public

  footer

block scripts
  script(src="/src/app.js")

  script(type="text/x-handlebars-template")#folderViewTemp
    br
    {{#if isFile}}
    li {{name}} - {{parentDir}}
    {{else}}
    li(data-folderName="{{name}}").folder {{name}}
    {{/if}}
    //- {{#if sub}}
    //- ul
    //-   {{#each sub}}
    //-   li {{name}}
    //-   {{/each}}
    //- {{/if}}

  script(type="text/x-handlebars-template")#subFolder
    ul
      {{#each sub}}
      li {{name}}
      {{/each}}
