extends layout
block content
  #main
    #fileList
      ul#server

      #public

  footer

block scripts
  script(src="/src/app.js")

  script(type="text/x-handlebars-template")#folderViewTemp
    li(data-folderName="{{name}}").folder {{name}}
      ul

  script(type="text/x-handlebars-template")#fileTemplate
    li(data-fileName="{{name}}").file {{name}}

  script(type="text/x-handlebars-template")#baseFolderTemplate
    li(data-folderName="{{base}}").folder {{base}}
      ul
