extends layout
block styles
  link(rel="stylesheet/less", href="/assets/less/mongo.less")
block content
  #main
    #mongodbs


block scripts
  script(src="/src/mongo.js")

  script(type="text/x-handlebars-template")#mongoView
    br
    li {{name}}