extends layout
block content
  h1 hello world
  h2 heading2
  h3 heading3
  h4 heading4
  h5 heading5

  p what is up changed? update?? yes it wokrs
  p works
  nav
    ul
      li link1
      li 
        a(href="www.google.com") Google